.logo{
    width: 38px;
    height: 38px;
    margin-right: 17px;
    img{
        width: 100%;
    }
}
.header_wrapper{
    padding: 0 67px;
    padding-top: 54px;
    padding-bottom: 45px;
    display: flex;
    justify-content: space-between;
}
.line{
    display: inline-block;
    width: 1px;
    height: 25px;
    background: rgba(255, 255, 255, 0.25);
}
.trash_flex{
    display: flex;
    justify-content: space-between;
}
.trash{
    margin-right: 8px;
}
.trash_link{
    text-decoration: none;
    color: white;
}
.liner{
    display: block;
    width: 100%;
    height: 1px;
    background: #F7F7F7;
}
.trash_wrap{
    min-width: 150px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 23px;
    border-radius: 30px;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    color: white;
    background-color: #FE5F1E;
}
.header_logo{
    display: flex;
    justify-content: start;
    align-items: center;

    h1{
        font-size: 24px;
        line-height: 29px;
        letter-spacing: 0.01em;
        text-transform: uppercase;
        color: #181818;
        margin: 0;
    }
    h2{
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #7B7B7B;
        margin: 0;
    }
}